/* 
    Recurso
    https://astronautweb.co/snippet/font-awesome/
*/

html, body{
    margin: 0;
    font-family: Roboto, Arial, Helvetica;
}

section{
    padding: 1em
}
.custom-list li{
    list-style-type: none;
    position: relative;
    margin-top: 0.5em
}

.custom-list li::before{
    content: '\f00c';
    position: absolute;
    /*width: 0.5em;*/
    /*height: 0.5em;*/
    color: green;
    left: -1.3em;
    /*top: .25em;*/
    top: 50%;
    transform: translateY(-50%);
    font-family: FontAwesome;
    font-size: 0.8em;
    line-height: 0.8em;
}
