:root{
    --bg-sidebar: #3C3C3C;
    --color-sidebar: white;
    --br-color-item-sidebar: #707070;
    --color-drop-shadow: black;
    --bg-toggle-sidebar: white;
    --bg-toggle-nav: #3B3B3B;

}

/* Sidebar */
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: var(--bg-sidebar);
    color: var(--color-sidebar)
}

.sidebar
    .sidebar-heading {
        padding: 10px 1.6rem 10px 1rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        border-bottom: 1px solid var(--br-color-item-sidebar);
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

.sidebar
    .sidebar-heading 
        .menu-toggle
            span {
                background-color: white
            }

.sidebar
    .sidebar-heading
        .menu-toggle {
            position: absolute;
            top: 0;
            right: 0
        }

.sidebar
    .list-group
        a{
            text-decoration: none;
            display: block;
            font-size: inherit;
            padding: 0.5rem 0.1rem 0.5rem 1rem;
            color: inherit;
            background-color: var(--bg-sidebar);
            border-bottom: 1px solid var(--br-color-item-sidebar)
        }

.sidebar
    .list-group
        a:hover,
.sidebar
    .list-group
        a:active {
            filter: drop-shadow(2px 4px 6px var(--color-drop-shadow))
        }

@media (min-width: 768px) {
    .sidebar
        .sidebar-heading {
            padding: 10px 10px 10px 1rem;
        }

    .sidebar
        .sidebar-heading
            .menu-toggle {
                display: none
            }
}
/* End- Sidebar */


/* Navbar */
nav.navbar
    .button-nav
        .menu-toggle
            span {
                background-color: var(--bg-toggle-nav);
            }

nav.navbar
    .button-nav{
        display: inline-block;
        vertical-align: middle;
    }

nav.navbar
    a {
        display: inline-block;
        margin-right: 1em;
        padding:10px;
        font-style: inherit;
        text-decoration: none;
        color: #3D3D3D
    }

nav.navbar
    a:hover {
        opacity: 0.6
    }
/* End - Navbar */


/* Menu-toggle */
.menu-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    user-select: none;
    background: transparent;
    outline: none;
}

.menu-toggle
    span {
        display: inline-block;
        height: 5px;
        width: 40px;
        border-radius: 4px;
        background-color: grey;
        position: relative;
        transition: 0.3s;
    }

.menu-toggle
    span::before,
.menu-toggle
    span::after {
        content: '';
        height: 100%;
        width: 100%;
        border-radius: inherit;
        background-color: inherit;
        position: absolute;
        left: 0;
        transition: 0.3s;
    }
.menu-toggle
    span::before {
        top: -10px;
    }
.menu-toggle
    span::after {
        top: 10px;
    }
.menu-toggle:hover
    span {
        opacity: 0.6
    }
/* End - menu-toggle */